.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(bottom, #bbafaf, #9e5959);
  padding-top: 60px;
  box-shadow: inset 0 0 10 grey;
}

.sidebar ul {
  margin: 0;
  padding: 0;
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  display: block;
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
}
.sidebar ul li a.active {
  background: rgb(59, 2, 2);
  color: #fff;
  transition-duration: 0.5s;
}
.sidebar ul li a:hover {
  color: #fff;
  transition-duration: 0.5s;
}
